.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.toolbar-container {
  background: white;
  z-index: 999 !important;
  border-radius: 5px 5px 0 0;
}

.toolbar-container ul {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: 0;
}

.toolbar-container ul > li {
  display: inline-block;
}

.toolbar-container ul > li button {
  font-size: 1rem;
  outline: none;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: none;
}

.toolbar-container ul > li button:hover {
  background-color: #ddd;
}

.toolbar-container ul > li button:active {
  background-color: #999;
}

.toolbar-container ul > li button.active {
  background-color: lightblue;
}

.toolbar-container ul::-webkit-scrollbar {
  height: 0;
}

.editor {
  padding: 0 10px;
  height: inherit;
  max-height: calc(100% - 2rem - 2px);
}

.editor-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 80vh;
}

.template-block {
  padding: 3px 3px 2px;
  margin: 0 1px;
  vertical-align: baseline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 4px;
  background-color: #eee;
  font-size: 0.9rem;
}

.template-block > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-preferred-size: inherit;
      flex-basis: inherit;
}

.template-block > div:first-child > input[type=text] {
  width: 90%;
}

.template-block > button.name-setter {
  display: inline-block;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.template-block > button.name-setter:focus {
  -webkit-box-shadow: 0 0 0 2px #b4d5ff;
          box-shadow: 0 0 0 2px #b4d5ff;
}

.modal-header, footer .oneline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header button, footer .oneline button {
  outline: none;
  border: none;
  background-color: transparent;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-header button:hover, footer .oneline button:hover {
  background-color: #ddd;
}

.modal-header button:active, footer .oneline button:active {
  background-color: #999;
}

.modal-header h2 {
  display: inline-block;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */