.App {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.toolbar-container {
    background: white;
    z-index: 999 !important;
    border-radius: 5px 5px 0 0;
}

.toolbar-container ul {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: 0;

    > li {
        display: inline-block;
        
        button {
            font-size: 1rem;
            outline: none;
            border: none;
            transition: 0.3s all ease;
            background: none;

            &:hover {
                background-color: #ddd;
            }
            
            &:active {
                background-color: #999;
            }
            
            &.active {
                background-color: lightblue;
            }
        }
    }
    
    &::-webkit-scrollbar {
        height: 0;
    }
}

.editor {
    padding: 0 10px;
    height: inherit;
    // overflow-y: scroll;
    
    // &::-webkit-scrollbar {
    //     width: 10px;
    //     background: transparent;
    // }
    
    // &::-webkit-scrollbar-thumb {
    //     background-color: rgba(221, 221, 221, 0.7);
    //     border-radius: 5px;
    //     margin-right: 2px;
    // }
}

.editor-container {
    flex-grow: 1;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 80vh;
}

.template-block {
    padding: 3px 3px 2px; 
    margin: 0 1px;
    vertical-align: baseline;
    display: inline-flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #eee;
    font-size: 0.9rem;
    
    > div:first-child {
        flex: 1 1 auto;
        flex-basis: inherit;
        
        > input[type=text] {
            width: 90%;
        }
    }
    
    > button.name-setter {
        display: inline-block;
        border: none;
        border-radius: 5px;
        outline: none;
        transition: 0.3s ease all;
        
        &:focus {
            box-shadow: 0 0 0 2px #b4d5ff; 
        }
    }
}

.modal-header, footer .oneline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    button {
        outline: none;
        border: none;
        background-color: transparent;
        height: fit-content;
        padding: 5px;
        border-radius: 5px;
        font-size: 1rem;

        &:hover {
            background-color: #ddd;
        }

        &:active {
            background-color: #999;
        }
    }
}

.modal-header h2 {
    display: inline-block;
    margin: 0;
}