.App {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.toolbar-container ul {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid lightgray;

    > li {
        display: inline-block;
        
        button {
            font-size: 1rem;
            outline: none;
            border: none;
            transition: 0.3s all ease;
            background: none;

            &:hover {
                background-color: #ddd;
            }
            
            &:active {
                background-color: #999;
            }
            
            &.active {
                background-color: lightblue;
            }
        }
    }
}

.editor {
    padding: 0 10px;
}

.editor-container {
    flex-grow: 1;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.template-block {
    padding: 3px 3px 2px; 
    margin: 0 1px;
    vertical-align: baseline;
    display: inline-flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #eee;
    font-size: 0.9rem;
    
    > div:first-child {
        flex: 1 1 auto;
        flex-basis: inherit;
        
        > input[type=text] {
            width: 90%;
        }
    }
    
    > button.name-setter {
        display: inline-block;
        border: none;
        outline: none;
        transition: 0.3s ease all;
    }
}
